@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// colors -----------------------------------------
$app-color: #6b59a4;
$text-color: white;
$primary-action: green;
$secondary-action: red;
$game-bg: black;
$dot-bg: #25c52570;
$dot-border: #25c525;
$dot-pop-bg: #ff000070;
$dot-pop-border: red;
// ----------------------------------------------------

html * {
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media only screen and (min-width: 600px){
    justify-content: center;
    align-items: center;
    background-color: #d3cae0;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%237471c2' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

#app {
  border: 10px solid #6b59a4;
  background: #6b59a4;
  box-shadow: 3px 3px 15px 5px #00000080;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 600px){
    height: auto;
    border-radius: 20px;
    width: 400px;
  }
}

#controls {
  padding: 20px;
  color: $text-color;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  @media only screen and (min-width: 600px) {
    padding: 10px;

  }
  .btn {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    color: white;
    border: none;
    transition: all 300ms;
    animation: fadeIn linear 500ms;
    &:hover {
      opacity: 60%;
      cursor: pointer;
    }
  }
}

#start {
  background: $primary-action;
}

#pause {
  background: $secondary-action;
  display: none;
}

.slider {
  flex-basis: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-img {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
  .slower {
    margin-right: 5px;
    background-image: url(./assets/turtle.png);
  }
  .faster {
    margin-left: 5px;
    background-image: url(./assets/rabbit.png);
  }
}

#speedSlider {
  flex: 1 auto;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: $game-bg;
  cursor: pointer;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 20px;
    background: $primary-action;
    border-radius: 5px;
  }
}

#scoreBoard {
  font-size: 14px;
  flex-basis: 50%;
}

#score {
  font-size: 30px;
  margin: 15px;
}

#game {
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background: $game-bg;
  
  @media only screen and (min-width: 600px) {
    height: 500px;
    margin-bottom: 0;
  }
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000090;
  color: $text-color;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  display: none;
  &.visible {
    display: flex;
    z-index: 9;
    user-select: none;
  }
}


.dot {
  padding: 0;
  outline: none;
  border: 2px solid $dot-border;
  border-radius: 50%;
  background: $dot-bg;
  margin: 0;
  position: absolute;
  animation: fallingDots;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  transition: width .2s cubic-bezier(.7, -.6, .4, 1.5), height .2s cubic-bezier(.7, -.6, .4, 1.5), opacity .2s ease-out;
  &.falling {
    animation-play-state: running;
  }
  &.popped {
    height: 0;
    width: 0;
    opacity: 0;
    background: $dot-pop-bg;
    border-color: $dot-pop-border;
  }
}

@keyframes fadeIn {
  0% {opacity:0; scale: .1;}
  100% {opacity:1; scale: 1;}
}

@keyframes fallingDots {
  0% {
    top: 0;
  }

  99.99% {
    top: 1000px;
  }

  100% {
    display: none;
  }
}